<h1>CcsfRails#index</h1>
<p>Find me in app/views/ccsf_rails/index.html.erb</p>



     <p>The current time is <%= Time.new %>.</p>

     <p class="centered">Popular numbers today are:

     <% 6.downto(1) do |number| %>
     <br />
     <strong><%= number %></strong><br />

     <% end %>

     And so on
     </p>
