// Place all the styles related to the ccsf_rails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: lightgrey;
  font-size: 24px;
  margin-left: 100px;
}

h1 {
  color: red;
}

p {
  color: purple;
}
.centered {
  text-align: center;
}
